*{
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap');

#app {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    height: 100vh;
    margin-top: 32px;
    row-gap: 50px;
}


.topNav {
    height: 8vh;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
}



.logo {
    width: 10%;
    position: relative;
    left: 24px;
}

.logoPokemon {
    width: 300px;
    height: 200px;

}

nav {
    width: 100vw;
    height: 8vh;
    background-color: rgb(250, 225, 0);
}

.navbars {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 8vh;
}

.navbars li {
    color: white;
    list-style: none;
    cursor: pointer;
}





/* TEST */

.cardImage {
    width: 70%;
}


.favorite {
    color: rgb(255, 0, 0);
    cursor: pointer;
    position: absolute;
    right: 20px;
    margin-top: 15px;
}

.favoriteCard {
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    right: 30px;
    bottom: 100px;
}
